// Place all the styles related to the PayrollReport controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  margin-bottom: 50px;
}
