%p
  %a{href: root_path(params: {printer: 'true'})} View printer friendly

.ui.styled.accordion
  - @payroll_report.group_by{|e| e[:pay_period]}.each do |pay_period|
    .title
      %i.dropdown.icon
      =pay_period[0]
    .content
      %table.ui.celled.table
        %thead
          %tr
            %th Employee ID
            %th Amount Paid
        %tbody
          - pay_period[1].each do |line|
            %tr
              %td{"data-label" => "Name"}= line[:employee_id]
              %td{"data-label" => "Job"}= line[:amount_paid].format
